// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ahoj
{


color: #000000;

 padding-left: 22px; 
 padding-top: 2px; 
} 

.center
{
background-color: #FFFFFF;
text-align:center;
color:red;
} 
